<div class="row">
  <div class="col-md-12 my-3">
    <div class="bg-mattBlackLight px-3 py-3">
      <% if @users.empty? %>
        <h4>All the Members had Registered for this Event</h4>
      <%else%>
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="col-md-10 text-center p-4">
                <h2 class="text-center">Add Members</h2>
              </div>
            </div>
          </div>
          <table class="table table-dark">
            <thead>
              <tr>
                <td>Full Name</td>
                <td>Email</td>
                <td>Gender</td>
                <td>
                  Action
                </td>
              </tr>
            </thead>
            <tbody>
            <%@users.each do |user| %>
              <tr>
                <td><%= user.first_name %> <%= user.last_name %> </td>
                <td><%= user.email %> </td>
                <td><%= user.gender %> </td>
                <td>
                  <%= link_to 'Register', event_register_to_event_path(id: params[:event_id],user_id: user.id), class: "btn btn-sm btn-primary" %>
                </td>
              </tr>
            <%end%>
            </tbody>
          </table>
        </div>
      <%end %>
    </div>
  </div>
</div>