<div class="table-wrapper">
	<% if @clubs.empty? %>
		<h4>No Members are Registered for this Event</h4>
	<%else%>
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6 p-4 text-center">
					<h4>Registered Members of <%= @clubs[0].event.name%> </h4>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Gender</th>
					<%if current_user.admin? %>
						<th>De-register</th>
					<%end%>
				</tr>
			</thead>
			<tbody>

				<%@clubs.each do |club| %>
					<tr>
						<td><%= club.user.first_name %> <%= club.user.last_name %> </td>
						<td><%= club.user.email %> </td>
						<td><%= club.user.gender %> </td>
		
						<%if current_user.admin? %> 
							<td>
								<%= link_to "De-register", event_clubs_path(id: club), data: { confirm: "Are you sure that you wanna remove this user???" }, method: :delete, :class => 'btn btn-danger' unless club.user == current_user%>
							</td>
						<%end%> 

					</tr>
				<%end%> 

			</tbody>
		</table>
	<%end%>
</div>