<div class="row">
  <div class="col-md-12 my-3">
    <div class="bg-mattBlackLight px-3 py-3">
      <h2 class="display-5 p-2 text-center">Edit Profile</h2>
      <hr>
      <div class="row mb-2 justify-content-center">
        <div class="col col-md-6  p-4 mb-4">
          <div class="form-group ml-3">
            <% if @user.admin %>
              <%= link_to 'Revoke Admin', users_revokeAdmin_path(id: @user.id), class: "btn btn-primary btn-sm" %>
            <% else %>
              <%= link_to 'Make Admin', users_makeAdmin_path(id: @user.id), class: "btn btn-primary btn-sm" %>
            <% end %>
          </div>
          <%= form_with(model: @user, local: true, validate: true) do |f|  %>
            <div class="form-group">
              <%= f.label :first_name, class:"col-md-4 text-capitalize font-weight-bold"%>
              <div class="col-md-8">
                <%= f.text_field :first_name, class: 'form-control', autofocus: true, required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :last_name, class:"col-md-8 text-capitalize font-weight-bold" %>
              <div class="col-md-8">
                <%= f.text_field :last_name, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :gender, class:"col-md-8 text-capitalize font-weight-bold" %>
              <div class="d-flex flex-row ">
                <div class="col-md-3 ml-4">
                  <%= f.radio_button :gender ,'Female', class: 'form-check-input' %> Female
                </div>
                <div class="col-md-4">
                  <%= f.radio_button :gender ,'Male', class: 'form-check-input' %> Male
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :dob, class:"col-md-4 text-capitalize font-weight-bold", value: "Date of Birth" %>
              <div class="form-inline ml-3">
                <%= f.date_select :dob, { order: [:day, :month, :year], start_year: Date.today.year - 18, end_year: Date.today.year - 100},{class: 'form-control mr-1', required: true} %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :designation, class:"col-md-4 text-capitalize font-weight-bold" %>
              <div class="col-md-8">
                <%= f.text_field :designation, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :company, class:"col-md-4 text-capitalize font-weight-bold" %>
              <div class="col-md-8">
                <%= f.text_field :company, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :address, class:"col-md-4 text-capitalize font-weight-bold" %>
              <div class="col-md-8">
                <%= f.text_field :address, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :email, class:"col-md-4 text-capitalize font-weight-bold" %>
              <div class="col-md-8">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Update", class: "btn btn-success ml-3" %>
              <%= link_to "Cancel", users_path, class:"btn btn-dark float-right" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>