<% content_for(:title, "#{@event.name}")%>
<div class="row mb-2 justify-content-center">
  <div class="row mb-2 justify-content-center">
    <div class="col-8 shadow">
      <h4 class="text-capitalize font-weight-bold text-center border-bottom p-4"><%= @event.name %> </h4>
      <div class="row pr-5 pb-5">
        <div class="col col-12 text-right">
          <%if  current_user.admin? %> 
            <%= link_to 'View Member', event_clubs_path(@event), class: "btn btn-primary ml-3 float-right" %>
          <%end%>
          <%if @event.event_categorize == "upcoming" %> 
            <%if  current_user.admin? %> 
              <%= link_to 'Add Member', new_event_clubs_path(@event), class: "btn btn-primary ml-3 float-right" %> 
            <%end%>
            <%if @clubs.empty?%>
              <%= link_to 'Register', event_register_to_event_path(event_id: @event,user_id: @current_user), class: "btn btn-primary ml-3 float-right" %>
            <%else%>
              <%= link_to "De-register", event_clubs_path(id: @clubs[0],event_id: @event), data: { confirm: "Are you sure that you wanna De-register???" }, method: :delete, :class => 'btn btn-danger' %>
            <%end%>
          <%end%> 
        </div>
      </div>
      <div class="p-3 text-center">
        <%= image_tag(@event.image, class:"image_view img-fluid")%>
      </div>
      <div class="p-3">
        <%= sanitize @event.description %> 
      <div>
    </div>
    <p>
      <strong>Event date:</strong>
      <%= @event.event_date %>
    </p>

    <p>
      <strong>Start time:</strong>
      <%= @event.time_start %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= @event.time_end %>
    </p>
    <hr>
    <%if current_user.admin? %> 
      <%= link_to 'Edit', edit_event_path(@event) %> |
    <%end%>
    <%= link_to 'Back', events_path %>
  </div>
</div>