<h3 class="text-capitalize font-weight-bold text-center pt-4">News</h3>
<hr>
<div class="row pr-5 pb-5">
  <div class="col col-12 text-right">
    <%= link_to 'Add New News', new_news_path, class: "btn btn-primary ml-3 float-right" %>
  </div>
</div>
<div class="row mb-2 justify-content-center">
  <div class="col-10">
    <% @news.each do |news| %>
      <div class="row align-content-center">
        <div class="col-5 p-3">
          <%= image_tag(news.image, class:"img-fluid", alt:"Responsive image", 
             width:"350", height:"250")%>
        </div>
        <div class="col-7">
          <h6 class="text-capitalize font-weight-bold text-center border-bottom p-2"><%= link_to news.title, news %> </h6>
          <span class="mt-1"> 
            <% if news.body.length > 350 %>
              <%= truncate(sanitize(news.body, :tags => %w()), :length => 350)  %><%= link_to 'Read more', news %>
            <% else %>
              <%= sanitize news.body %> 
            <% end %>
          </span>
          <hr>
          <%= link_to 'Show', news %>
          <%= link_to 'Edit', edit_news_path(news) %>
          <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
          <div class="float-right"><%= news.title %></div>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
