
<div class="container cat">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>My Profile</h2>
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<tbody>
                <tr>
                    <td>Name</td>
					<td><%= @user.first_name %> <%= @user.last_name %> </td>
                </tr>
                <tr>
                    <td>Email</td>
					<td><%= @user.email %> </td>
                </tr>
                <tr>
                    <td>Gender</td>
					<td><%= @user.gender %> </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
					<td><%= @user.dob %> </td>
                </tr>
                <tr>
                    <td>Designation</td>
					<td><%= @user.designation %> </td>
                </tr>
                <tr>
                    <td>Company</td>
					<td><%= @user.company %> </td>
                </tr>
                 <tr>
                    <td>Address</td>
					<td><%= @user.address %> </td>
                </tr>
                
                <tr>
                    <td>Admin Type</td>
					<td>
						<%= @user.admin_type %>
					</td>
                <tr>
			</tbody>
		</table>
        <%= link_to "Edit Profile", edit_user_registration_path, class:"ml-2 font-weight-bold" %>
	</div>
</div>
